pacman_packages:
- man-db
- man-pages
- bash-completion
- gvim
- git
- tig
- base-devel
- make
- gnu-netcat
- net-tools
- wget
- curl
- traceroute
- htop
- atop
- strace
- ltrace
- openssh
- sudo
- pipewire
- lshw
- kitty
- lf
- yay
- ansible
- wireguard-tools
- rsync
# desktop applications
- firefox
- vlc
- vlc-plugins-all
- thunderbird
- libreoffice-still
- chromium
- flatpak
- signal-desktop
# Docker
- docker
- docker-buildx
- docker-compose
# K8s
- kubectl
- helm
- skaffold
- minikube
# Python
- python
- python-pip
# Go
- go
- gopls
- gofumpt
- golangci-lint-bin
# Neovim
- neovim
- ripgrep
- fd
- npm
# Gnome
- gnome-tweaks

aur_packages:
- kcat-cli
- neovim-plug
- gocomplete
- waypipe

flatpak_packages:
- dev.vencord.Vesktop
- com.github.IsmaelMartinez.teams_for_linux

symlinks:
- src: "{{ lookup('env', 'PWD') }}/dotfiles/kitty"
  dest: ~/.config/kitty
- src: "{{ lookup('env', 'PWD') }}/dotfiles/nvim"
  dest: ~/.config/nvim
- src: "{{ lookup('env', 'PWD') }}/dotfiles/ruff"
  dest: ~/.config/ruff
- src: "{{ lookup('env', 'PWD') }}/dotfiles/.bash_logout"
  dest: ~/.bash_logout
- src: "{{ lookup('env', 'PWD') }}/dotfiles/.bash_profile"
  dest: ~/.bash_profile
- src: "{{ lookup('env', 'PWD') }}/dotfiles/.bashrc"
  dest: ~/.bashrc
- src: "{{ lookup('env', 'PWD') }}/dotfiles/.bashrc_addl"
  dest: ~/.bashrc_addl
- src: "{{ lookup('env', 'PWD') }}/dotfiles/.inputrc"
  dest: ~/.inputrc
- src: "{{ lookup('env', 'PWD') }}/dotfiles/.profile"
  dest: ~/.profile
- src: "{{ lookup('env', 'PWD') }}/dotfiles/.gitignore_global"
  dest: ~/.gitignore_global

host2vault:
- src: ~/.gnupg
  dest: ""
- src: ~/.ssh
  dest: ""
- src: ~/.kube
  dest: ""
- src: ~/.thunderbird
  dest: ""

vault2host:
- src: .gnupg
  dest: "~"
- src: .ssh
  dest: "~"
- src: .kube
  dest: "~"
- src: .thunderbird
  dest: "~"
