- name: setup desktop
  hosts: desktops
  roles:
  - role: install_packages
    tags: install
  - role: update_packages
    tags: update
  - role: create_symlinks
    tags: symlinks
  - role: private_host2vault
    tags: host2vault
  - role: private_vault2host
    tags: vault2host
  vars_files:
  - group_vars/desktop.yaml
